extends ../../layout/base.pug

block content 
    section.wholeWrapper 
        section.XX__left 
        section.rsWrapper 
            h1 #{bData.title}
            h2 #{bData.name}
            h3 #{bData.createdAt}
            h4 #{bData.content}
        section.XX_right  